!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Photoshop Lite
  %body
    %h1 Photoshop Lite
    %input#color{type:'text'}
    %input#addColor{type:'button', value:'Add Color'}
    %input#addGradient{type:'button', value:'Add gradient'}
    %input#addBigGradient{type:'button', value:'Add biggradient'}
    %span#brush

    %input#amount{type:'text', placeholder:'3'}
    %input#addBox{type:'button', value:'Add Boxes'}
    .clear
    #boxes
    #pixels
    %script{src:"js/jquery.js"}
    %script{src:"js/underscore.js"}
    %script{src:"js/main.js"}
