body {
  background-color: #b3b3ff; }

h1 {
  font-size: 30px; }

.stockColumn {
  height: 230px;
  width: 100px;
  float: left;
  position: relative; }
  .stockColumn:not(:first-child) {
    margin-left: 10px; }

.stock {
  position: absolute;
  bottom: 0px;
  width: 100px;
  min-height: 5px;
  background-color: #6666ff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border: 2px solid #DDD;
  border-bottom: none; }
  .stock label {
    position: absolute;
    top: -12px;
    font-size: 11px; }
  .stock .stockImage {
    width: 100px;
    height: 75px;
    position: absolute;
    background-size: cover;
    bottom: -75px;
    left: -2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid #DDD;
    border-top: none; }

.amount {
  font-size: 14px; }
  .amount span {
    font-weight: bold; }

#initial.disabled {
  background-color: #cccccc;
  color: gray; }

.nsf {
  background-color: #ffb3b3; }
