!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title Movie Time
  %body
    .main
      %header
        %h1 Movie Time
      %nav
        %ul
          %li
            %a{href: '#'} Jaws
          %li
            %a{href: '#'} Titanic
          %li
            %a{href: '#'} Lord of the Rings
      %section
        = Haml::Engine.new(File.read('movies/_jaws.haml')).render
        = Haml::Engine.new(File.read('movies/_titanic.haml')).render
        = Haml::Engine.new(File.read('movies/_lotr.haml')).render
      %footer
