h1 {
  margin-top: 5px;
}
#boxes {
  width: 40%;
  float: left;
}
#pixels {
  width: 750px;
  float: left;
}
.pixel {
  float: left;
  width: 5px;
  height: 5px;
  background-color: green;
}
.colorBox {
  width: 15px;
  height: 15px;
  margin: 1px;
  // border: 2px dashed black;
  float: left;
}
#amount {
  margin-left: 100px;
}
#brush {
  border: 1px dashed black;
  float: left;
  margin-left: 10px;
  position: relative;
  width: 75px;
  height: 25px;
}
input {
  float: left;
  margin: 0 5px;
}

.clear {
  float: none;
  clear: both;
}