html, body, #map-canvas, #menu {
  height: 100%;
}

#map-canvas
{
  float: left;
  width: 85%;
  border: 1px solid black;
}

#menu {
  padding-top: 15px;
  float: left;
  width: 15%;
  position: relative;
  background-color: lighten(black, 30%);
  .bottom {
    position: absolute;
    bottom: 0;
  }
}

