body {
  background-color: lighten(blue, 35%);
}

h1 {
  font-size: 30px;
}
.stockColumn {
  height: 230px;
  width: 100px;
  float: left;
  position: relative;
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.stock {
  position: absolute;
  bottom: 0px;
  width: 100px;
  min-height: 5px;
  background-color: lighten(blue, 20%);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border: 2px solid #DDD;
  border-bottom: none;
  label {
    position: absolute;
    top: -12px;
    font-size: 11px;
  }
  .stockImage {
    width: 100px;
    height: 75px;
    position: absolute;
    background-size: cover;
    bottom: -75px;
    left: -2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid #DDD;
    border-top: none;
  }
}

.amount {
  font-size: 14px;
  span {
    font-weight: bold;
  }
}

#initial.disabled {
  background-color: lighten(black, 80%);
  color: lighten(black, 50%);
}

.nsf {
  background-color: lighten(red, 35%);
}