.stockColumn {
  height: 300px;
  width: 100px;
  background-color: blue;
  float: left;
  position: relative;
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.stock {
  position: absolute;
  bottom: 0px;
  .stockImage {
    width: 100px;
    height: 75px;
    position: absolute;
    bottom: -200px;
  }
}