.stockColumn {
  height: 230px;
  width: 100px;
  float: left;
  position: relative;
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.stock {
  position: absolute;
  bottom: 0px;
  width: 100px;
  min-height: 5px;
  background-color: blue;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  label {
    position: absolute;
    top: -12px;
    font-size: 11px;
  }
  .stockImage {
    width: 100px;
    height: 75px;
    position: absolute;
    background-size: cover;
    bottom: -75px;
  }
}