!!! 5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width"}
  %title Foundation 4
  %link{rel: "stylesheet", href: "css/normalize.css"}
  %link{rel: "stylesheet", href: "css/foundation.css"}
  %link{rel: "stylesheet", href: "css/app.css"}
  %script{src: "js/vendor/custom.modernizr.js"}
%body
  .row
    .small-12.columns
      %h1 Flickr Slideshow
  .row
    .small-5.columns
      .row.collapse
        .small-8.columns
          %input#query.small{type: 'text', autofocus: true}
        .small-4.columns
          %a#search.button.radius.postfix{href: '#'} Search Flickr
    .small-7.columns
      %a#empty.small.alert.button.radius{href: '#'} Delete Unselected
      %a#delete.small.alert.button.radius{href: '#'} Delete Selected
      %a#save.small.success.button.radius{href: '#'} Save Selected
  .row#imgcontainer
    .small-9.columns#photo
    .small-3.columns#saved




  %script{src: 'js/vendor/jquery-1.10.2.js'}
  %script{src: 'js/vendor/foundation.min.js'}
  %script{src: 'js/vendor/underscore.js'}
  %script{src: 'js/app/app.js'}
