@import url(http://fonts.googleapis.com/css?family=Adamina);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Aldrich);

body {
  font-family: 'Adamina', serif;
  background-color: #DDD;
}
a {
  text-decoration: none;
  padding: 0;
  color: #222;
}
#wrap {
  width: 960px;
  margin: auto;
  background-color: #FFF;
}
header {
  height: 90px;
  padding-top: 10px;
}
header > a >.logo {
  background-color: #111;
  width: 30px;
  height: 50px;
  border-radius: 10px;
  margin-right: -12px;
  border: 2px solid #FFF;
  padding-right: 10px;
  float: left;
  text-align: right;
  /*font-family: 'Aldrich', sans-serif;*/
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  color: #FFF;
  font-size: 30px;
  position: relative;
  bottom: 9px;
  left: 20px;
  /*transform: rotate(10deg);*/
  /*-ms-transform: rotate(10deg); /* IE 9 */*/
  /*-webkit-transform: rotate(10deg) ;*/
}
header > a:nth-of-type(2) {
  position: relative;
  top: 20px;
}
header > a:nth-of-type(3) {
  position: relative;
  top: 40px;
}
header > .media {
  float: right;
  margin-right: 15px;
  margin-top: -80px;
}
header > .media > a {
  margin: 2px;
}
header > .search {
  clear: right;
  float: right;
  margin-right: 15px;
  margin-top: -40px;
}
header >.search > input {
  height: 15px;
  font-size: 12px;
}
h1 {
  margin: 0;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 60px;
  display: inline;
  position: relative;
  left: 150px;
  text-shadow: 2px 2px 0px #BBB;
}
nav {
  border-top: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  padding: 0 20px 4px 0px;
  color: #222;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  height: 20px;
  vertical-align: top;
}
nav > ul {
  margin-left: 40px;
  margin-top: 4px;
}
ul > li {
  float: left;
  list-style: none;
  margin-right: 60px;
  cursor: default;
}
nav > ul > li > ul {
  background-color: rgba(255, 255, 255, .85);
  display: none;
  padding: 0;
  width: 210px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
nav > ul > li:hover > ul {
  display: block;
  position: absolute;
}
nav > ul > li:hover, nav > ul > li:hover > a {
  color:#666;
}
nav >ul > li:hover > ul > li {
  width: 200px;
  font-size: 13px;
  clear: left;
  margin-top: 6px;
  padding-left: 10px;
}
nav > ul > li:hover > ul > li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
nav > ul > li:hover > ul > li:hover {
  background-color: #AAA;
  text-shadow: 1px 1px 1px #DDD;
}
p {
  font-size: 13px;
}
#featured {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  background-color: #444;
  color: #BBB;
  text-shadow: 1px 1px 2px #111;
  /*border-top-left-radius: 20px;*/
  /*border-bottom-right-radius: 20px;*/
  border-radius: 20px;
}
#featured > #headline, #featured > #image {
  float: left;
}
#featured > #headline {
  width: 270px;
  padding: 0 15px 15px 15px;
}
#featured > #headline > a > h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: 600;
}
#featured > #headline > a {
  color: #EEE;
}
#featured > #headline > a:hover {
  color: #AAA;
  text-shadow: 0 0 3px #111;
}
#featured > #image {
  height: 300px;
  width: 600px;
  background-color: #FFF;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
#featured > #image > a > img {
  max-width: 100%;
    -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
#featured > #image > a > img:hover {
  opacity: .8;
}
#articles {
  width: 900px;
  margin: auto;
}
#articles > a > div {
  display: inline-block;
  width: 280px;
  height: 280px;
  margin-bottom: 0px;
  -webkit-transition: all ease-in-out .5s;
  -moz-transition: all ease-in-out .5s;
  -ms-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
  border-radius: 10px;
}
#articles > a > div:hover {
  opacity: .7;
}
#articles > a > div > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#articles > a > div > p {
  height: 48px;
  width: 268px;
  background-color: #222;
  padding: 6px;
  color: #DDD;
  margin: 0;
  opacity: 0.9;
  position: relative;
  bottom: 64px;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0 0 3px #000;
}
#articles > a > .middle {
  margin: 0 26px;
}
#articles > h2 {
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
  padding-bottom: 0px;
  line-height: 20px;
  border-bottom: 2px solid #DDD;
  position: relative;
  top: 10px;
  text-shadow: 1px 1px 0px #BBB;
}
.clear {
  float: none;
  clear: both;
}
footer {
  border-top: 2px solid #DDD;
  margin-top: 30px;
  height: 35px;
}
footer > span {
  margin-left: 30px;
  font-size: 13px;
  color: #888;
}
.left {
  float:left;
}
.right {
  float: right;
}