@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
body {
  font-family: 'News Cycle', sans-serif;
}

header {
  height: 115px;
  padding-right: 20px;
  /*background-color: #00CCCC;*/
  background-color: #B00;
  color: white
}
#logo {
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  text-shadow: 2px 2px 4px #333;
}
#logo > h1 > a {
  font: inherit;
  color: inherit;
  -webkit-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -ms-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#logo > h1 > a:hover {
  text-shadow: -2px -2px 4px #333;
}
a {
  text-decoration: none;
}
address {
  float: right;
  clear: right;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 2px 2px #666;
}
header > a > img {
  margin-top: 5px;
  float: right;
}
header > #logo{
  float: left;
}
#topnav, #bottomnav {
  display: table;
}
#topnav {
  font-size: 14px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 5px;
  border-top: 2px groove #EEE;
  border-bottom: 2px ridge #222;
  /*background-color: #000;*/
  background:#DDD url('../images/gradient.jpg') repeat-x bottom;
  /*background-position: bottom;*/
}
#topnav > ul {
  display: table-row;
}
nav > ul > li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid black;
}
nav > ul > li > a {
  color: #FFF;
  font-weight: 500;
  text-shadow: 0px 0px 5px #000;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}
nav > ul > li > a:hover {
  color: #000;
  text-shadow: 0px 0px 5px #FFF

}
#topnav > ul > li {
  width: 1%;
}
#bottomnav > ul > li {
  padding: 0 7px;
}
nav > ul > li:last-child {
  border-right: none;
}
.clear {
  float: none;
  clear: both;
}
body > section {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222;
  color: white;
}
section > iframe {
  display: block;
  margin: auto;
  padding-bottom: 30px;
}
#featured {
  width: 730px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  margin-bottom: 20px;
}
.featureditem {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 210px;
  height: 100%;
  padding-top: 10px;
  vertical-align: top;
  background-color: #444;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 4px;
}
footer {
  padding-top: 15px;
  padding-left: 15px;
  height: 35px;
  vertical-align: middle;
  border-top: 2px ridge #CCC;
  background:#DDD url('../images/gradient2.jpg') repeat-x bottom;
}
#copyright {
  font-size: 14px;
}
#bottomnav {
  margin-right: 15px;
  float: right;
  font-size: 14px;
}
