@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
body {
  font-family: 'News Cycle', sans-serif;
  background-color: #222;
}

header {
  height: 115px;
  padding-right: 20px;
  /*background-color: #00CCCC;*/
  background-color: #B00;
  color: white
}
#logo {
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  text-shadow: 2px 2px 4px #333;
}
#logo > h1 > a {
  font: inherit;
  color: inherit;
  -webkit-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -ms-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#logo > h1 > a:hover {
  text-shadow: -2px -2px 4px #333;
}
a {
  text-decoration: none;
}
#smalladdress {
  float: right;
  clear: right;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 2px 2px #666;
}
header > a > img {
  margin-top: 5px;
  float: right;
}
header > #logo{
  float: left;
}
#topnav, #bottomnav {
  display: table;
}
#topnav {
  font-size: 14px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 5px;
  border-top: 2px groove #EEE;
  border-bottom: 2px ridge #222;
  /*background-color: #000;*/
  background:#DDD url('../images/gradient.jpg') repeat-x bottom;
  /*background-position: bottom;*/
}
#topnav > ul {
  display: table-row;
}
nav > ul > li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid black;
}
nav > ul > li > a {
  color: #FFF;
  font-weight: 500;
  text-shadow: 0px 0px 5px #000;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}
nav > ul > li > a:hover {
  color: #000;
  text-shadow: 0px 0px 5px #FFF

}
#topnav > ul > li {
  width: 1%;
}
#bottomnav > ul > li {
  padding: 0 7px;
}
nav > ul > li:last-child {
  border-right: none;
}
.clear {
  float: none;
  clear: both;
}
body > section {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}
section > iframe {
  display: block;
  margin: auto;
  padding-bottom: 30px;
}
#featured {
  width: 730px;
  /*height: 300px;*/
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  margin-bottom: 70px;
}
#featurewrap {
  width: 722px;
}
#featurewrap > h2 {
  width: 699px;
  background-color: #444;
  height: 20px;
  padding: 10px 0 10px 15px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 550;
}
.featureditem {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 210px;
  height: 300px;
  padding-top: 14px;
  vertical-align: top;
  background-color: #444;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 4px;
}
.featureditem > a > img {
  margin-bottom: 10px;
}
.featureditem > .blurb > a {
  font-size: 18px;
}
.blurb > article{
  padding-top: 8px;
}
footer {
  padding-top: 15px;
  /*padding-left: 15px;*/
  height: 35px;
  vertical-align: middle;
  border-top: 2px ridge #CCC;
  background:#DDD url('../images/gradient2.jpg') repeat-x bottom;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}
#copyright {
  position: relative;
  top: -4px;
  padding-left: 15px;
  font-size: 14px;
}
#copyright > span {
  font-size: 20px;
  position: relative;
  top: 3px;
}
#bottomnav {
  margin-right: 15px;
  float: right;
  font-size: 14px;
}
dl {
  width: 80%;
  margin: auto;
}
dl > dt {
  font-weight:500;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px #000;
}
dl > dd {
  width: 70%;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 30px;
  line-height: 20px;
}
dd > span {
  font-size: 28px;
  position: relative;
  top: 10px;
  letter-spacing: 10px;
}


/*---------------------------------------------------------------------------------*/

#indprodimg{
float:left;
/*width: 500px;*/
height: 325px;
margin-top:15px;
margin-left: 40px;
margin-bottom: 15px;
}

#modelprice{
  float: left;
  margin-top: 60px;
  margin-left: 100px;
  line-height: 50px;
}
#mod{
  font-size: 30px;
  font-weight: 400px;
}
#price{
  font-size: 20px;
  font-weight: 400px;
  margin-left: 20px;
}
#productlist{
list-style: circle;
margin-left: 20px;
}
#descript{
  margin-left: 40px;
  margin-bottom: 70px;
}
#descript > article, #descript > ul > li {
  margin-left: 15px;
  width: 70%;
}
.dh{
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 10px;
}
article{
  margin-bottom: 10px;
}
/*style below for contact page********************************************/
#contacts{
  float: left;
  margin-top: 40px;
  margin-left: 150px;

}
.conhead{
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 10px;
}
#contacts > div {
  margin-bottom: 25px;
}

#addressbig {
  font-size: 20px;
}

#tellie{
  font-size: 20px;
}
#tellie, #addressbig {
  margin-left: 15px;
}
#email{
  color:white;
  font-size: 20px;
  text-decoration: underline;
}
#email:hover{
  color:red;
}
#submit{
  margin-top: 15px;
}

#catcall{
  margin-left: 200px;
}