@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
body {
  font-family: 'News Cycle', sans-serif;
  background-color: #222;
}

header {
  height: 115px;
  padding-right: 20px;
  /*background-color: #00CCCC;*/
  background-color: #B00;
  color: white
}
#logo {
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  text-shadow: 2px 2px 4px #333;
}
#logo > h1 > a {
  font: inherit;
  color: inherit;
  -webkit-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -ms-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#logo > h1 > a:hover {
  text-shadow: -2px -2px 4px #333;
}
a {
  text-decoration: none;
}
#smalladdress {
  float: right;
  clear: right;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 2px 2px #666;
}
header > a > img {
  margin-top: 5px;
  float: right;
}
header > #logo{
  float: left;
}
#topnav, #bottomnav {
  display: table;
}
#topnav {
  font-size: 14px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 5px;
  border-top: 2px groove #EEE;
  border-bottom: 2px ridge #222;
  margin-bottom: 15px;
  /*background-color: #000;*/
  background:#DDD url('../images/gradient.jpg') repeat-x bottom;
  /*background-position: bottom;*/
}
#topnav > ul {
  display: table-row;
}
nav > ul > li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid black;
}
nav > ul > li > a {
  color: #FFF;
  font-weight: 500;
  text-shadow: 0px 0px 5px #000;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}
nav > ul > li > a:hover {
  color: #000;
  text-shadow: 0px 0px 5px #FFF

}
#topnav > ul > li {
  width: 1%;
}
#bottomnav > ul > li {
  padding: 0 7px;
}
nav > ul > li:last-child {
  border-right: none;
}
.clear {
  float: none;
  clear: both;
}
body > section {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}
section > iframe {
  display: block;
  margin: auto;
  padding-bottom: 30px;
}
#featured {
  width: 730px;
  /*height: 300px;*/
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  margin-bottom: 70px;
}
#featurewrap {
  width: 722px;
}
#featurewrap > h2 {
  width: 699px;
  background-color: #444;
  height: 20px;
  padding: 10px 0 10px 15px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 550;
}
.featureditem {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 210px;
  height: 260px;
  padding-top: 14px;
  vertical-align: top;
  background-color: #444;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 4px;
}
.featureditem > a > img {
  margin-bottom: 10px;
}
.featureditem > .blurb {
  font-size: 18px;
  padding-top: 8px;
}
.featureditem > .blurb > p {
  font-size: 14px;

}
.blurb > article{
  padding-top: 8px;
}
footer {
  padding-top: 15px;
  /*padding-left: 15px;*/
  height: 35px;
  vertical-align: middle;
  border-top: 2px ridge #CCC;
  background:#DDD url('../images/gradient2.jpg') repeat-x bottom;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}
#copyright {
  position: relative;
  top: -4px;
  padding-left: 15px;
  font-size: 14px;
}
#copyright > span {
  font-size: 20px;
  position: relative;
  top: 3px;
}
#bottomnav {
  margin-right: 15px;
  float: right;
  font-size: 14px;
}
dl {
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
}
dl > dt {
  font-weight:500;
  font-size: 19px;
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px #000;
  margin-bottom: 6px;
  font-weight: 600;
}
dl > dd {
  width: 70%;
  font-size: 16px;
  margin-left: 25px;
  margin-bottom: 30px;
  line-height: 20px;
}
dd > span {
  font-size: 28px;
  position: relative;
  top: 10px;
  letter-spacing: 10px;
}


/*---------------------------------------------------------------------------------*/

#indprodimg{
float:left;
/*width: 500px;*/
height: 325px;
margin-top:15px;
margin-left: 40px;
margin-bottom: 15px;
}

#modelprice{
  float: left;
  margin-top: 60px;
  margin-left: 100px;
  line-height: 50px;
}
#mod{
  font-size: 30px;
  font-weight: 400px;
}
#price{
  font-size: 20px;
  font-weight: 400px;
  margin-left: 20px;
}
#productlist{
list-style: circle;
margin-left: 20px;
}
#descript{
  margin-left: 40px;
  margin-bottom: 70px;
}
#descript > article, #descript > ul > li {
  margin-left: 15px;
  width: 70%;
}
.dh{
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 10px;
}
article{
  margin-bottom: 10px;
}
/*style below for contact page********************************************/
#contacts{
  float: left;
  margin-top: 40px;
  margin-left: 150px;

}
.conhead{
  font-size: 20px;
  margin-bottom: 10px;
}
#contacts > div {
  margin-bottom: 25px;
}

#addressbig {
  font-size: 17px;
}

#tellie{
  font-size: 17px;
}
#tellie, #addressbig {
  margin-left: 15px;
}
#email{
  color:white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}
#email:hover {
  color: #000;
  text-shadow: 0px 0px 5px #FFF
}
#submit{
  margin-top: 15px;
}

#catcall{
  margin-left: 200px;
}
/*Matt's Stuff*/

header {
  height: 115px;
}

p{
  padding: 10px 0 20px 0;
  font-family: 'News Cycle', sans-serif;
}
#about {
  width: 70%;
  margin-left: 50px;
  margin-bottom: 70px;
}
#about p{
font-family: 'News Cycle', sans-serif;
background-color: #222;
color: white;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.25px;
margin-bottom: -20px;
}
a > div > p, a > div > article {
  color: white;
}
#main {
  margin-left: 15px;
}

/*End Matt's First Chunk*/



/*Selected H2 font weight and size*/
h2{
  font-family: 'News Cycle', sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding-left: 20px;
  padding-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 1px #444;
}

#mainproduct {
  clear: both;
  text-align: center;
  width: 1025px;
  margin: auto;
}

#mainproduct div
{
  float: left;
  padding: 20px;
  max-width: 400px;
  /*margin-right: 0px;*/
  /*margin-left: 10px;*/
  margin-bottom: 20px;
  background-color: #444;
  box-shadow: 10px 10px 10px black;
}
#middle {
  margin-left: 40px;
  margin-right: 40px;
}
#cart_table {
  margin: 20px;
  width: auto;
}

/*Table for shopping cart page*/
td {
  padding: 10px;
  border: 5px black groove;
  text-align: right;
}

.itemcolumn{
  text-align: left;
}

table tr:first-child {
background-image: linear-gradient(bottom, rgb(99,99,99) 30%, rgb(250,247,250) 100%);
background-image: -o-linear-gradient(bottom, rgb(99,99,99) 30%, rgb(250,247,250) 100%);
background-image: -moz-linear-gradient(bottom, rgb(99,99,99) 30%, rgb(250,247,250) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(99,99,99) 30%, rgb(250,247,250) 100%);
background-image: -ms-linear-gradient(bottom, rgb(99,99,99) 30%, rgb(250,247,250) 100%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.3, rgb(99,99,99)),
  color-stop(1, rgb(250,247,250))
);
}

/*hover adjust for product categories page*/

#mainproduct div:hover, .featureditem:hover{
    transition: background-color ease-in-out .3s;
    background-color: #808080;
    }

/*Matt's Button*/

section button {
  border: none;
  background-color: #444;
  color: white;
  padding: 5px 10px;
  margin: 0px;
  margin-left: 20px;
  font-size: 20px;
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
  box-shadow: inset 1px 1px 5px #C0C0C0;
  border-radius: 15px;

}

section button:active
{
  background-color: #808080
  }