!!! 5
%html{lang: 'en'}
  %head
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{charset: 'utf-8'}
    %title QUnit testing
  %body
    = Haml::Engine.new(File.read('haml/_header.haml')).render
    = Haml::Engine.new(File.read('haml/_nav.haml')).render
    = Haml::Engine.new(File.read('haml/_content.haml')).render
    = Haml::Engine.new(File.read('haml/_footer.haml')).render
    %script{src:"js/jquery.js"}
    %script{src:"js/underscore.js"}
    %script{src:"js/main.js"}
