#menuBar
    ul#menu
      a(href='/'): li Home
      a(href='/songs'): li Songs
      a(href='/songs/new'): li New Song
      a(href='/artists'): li Artists
      a(href='/artists/new'): li New Artist
      a(href='/genres'): li Genres
      a(href='/genres/new'): li New Genre