#map-canvas
#menu
  .row
    .small-12.columns
      %input#start.button.expand.radius.small.success{type:'button', value:'Start'}
  .row
    .small-12.columns
      %input#stop.button.expand.radius.small.alert{type:'button', value:'Stop'}
  .row.bottom
    .small-12.columns
      %input#reset.button.expand.radius.tiny.alert{type:'button', value:'Reset'}