doctype 5
html
  head
    title Node Title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Node Rocks
    p Welcome to Node
    img(src='http://images.dailydawdle.com/some-cats-just-dont-give-a-fuck-badass.gif')