doctype 5
html
  head
    title Node Title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Node Rocks
    p Welcome to Node
    img(src='http://i166.photobucket.com/albums/u82/mlaold/doglickingscreen320x240100frames.gif')